<div class="album py-5 bg-light">
    <div class="container">
  
      <div class="row">

        <div class="col-md-5">
          <div class="card mb-4 shadow-sm">
            <img src="assets/img/1.png" class="bd-placeholder-img card-img-top" width="100%" height="225">
            <div class="card-body">
              <h5 class="card-title">"Article title"</h5>
              <p class="card-text">Small description of article</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Read more</button>
                </div>
                <small class="text-muted">reading time</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
            <div class="card mb-4 shadow-sm">
              <img src="assets/img/2.png" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <h5 class="card-title">"Article title"</h5>
                <p class="card-text">Small description of article</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Read more</button>
                  </div>
                  <small class="text-muted">reading time</small>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="col-md-5">
        <div class="card mb-4 shadow-sm">
          <img src="assets/img/2.png" class="bd-placeholder-img card-img-top" width="100%" height="225">
          <div class="card-body">
            <h5 class="card-title">"Article title"</h5>
            <p class="card-text">Small description of article</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Read more</button>
              </div>
              <small class="text-muted">reading time</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
