<section class="container-fluid" style="background-color: #dddddd;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-7 col-xl-6">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign up</h3>
  
              <div class="form-outline mb-4">
                <input type="name" id="typeName" class="form-control form-control-lg" />
                <label class="form-label" for="typeName">Name</label>
              </div>

              <div class="form-outline mb-4">
                <input type="name" id="typeLastName" class="form-control form-control-lg" />
                <label class="form-label" for="typeLastName">Last Name</label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
              <br><br>
              <div class="container">
                <div class="col-12 mx-auto">
                  <div class="card">
                    <div class="card-body text-center">
                      <label>Already have an account? <a routerLink="/login">Log in</a></label>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>