<style>
    html, body {
      height: 100%;
    }
  </style>

<div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-3 bg-light border-end">
        <p>            
        </p>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#">Title 1</a>
          </li>
          <li class="list-group-item">
            <a href="#">Title 2</a>
          </li>
          <li class="list-group-item">
            <a href="#">Title 3</a>
          </li>
          <li class="list-group-item">
            <a href="#">Title 4</a>
          </li>
          <li class="list-group-item">
            <a href="#">Title 5</a>
          </li>
          <li class="list-group-item">
            <a href="#">Title 6</a>
          </li>
          <li class="list-group-item">
            <a href="#">Title 7</a>
          </li>
          <li class="list-group-item">
            <a href="#">Title 8</a>
          </li>
          <li class="list-group-item">
            <a href="#">Title 9</a>
          </li>
          <li class="list-group-item">
            <a href="#">Title 10</a>
          </li>
          <!-- Add more list items as needed -->
        </ul>
        <div>
            <p>            
            </p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
              <a href="#">Submit an article</a>
            </li>
            <!-- Add more list items as needed -->
          </ul>
      </div>
      <div class="col-9 bg-white p-3">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim, libero auctor accumsan hendrerit, nunc turpis ullamcorper arcu, non laoreet felis nunc id ex. Mauris sit amet venenatis elit. Pellentesque facilisis ipsum in quam efficitur eleifend.</p>
        <p>Nulla eget nisi vel metus sollicitudin pulvinar ut a mauris. Vestibulum a finibus velit. Sed tincidunt elementum diam, ac rutrum dolor. Sed at vestibulum sem, in luctus purus. Fusce at sapien felis. Suspendisse finibus libero ac est vulputate venenatis.</p>
      </div>
    </div>
  </div>


